@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Web application/API for converting standard text decklists into Magic: The Gathering Arena format.

Uses the <a href="https://scryfall.com/docs/api">Scryfall API</a>.</p>
